body {
    background-color: #393E46;
    margin: 0;
    text-align: center;
    font-family:'Courier New', Courier, monospace 
}

h1 {
    color: #00ADB5;
    font-size: 5.50rem; 
    /* margin: 0 auto 0 auto; /* or 0 auto(top-bottom left-right); */
    font-family: 'Caveat', cursive;
    margin-bottom: 15px;
}

h2 {
    color: #EEEEEE;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
}

h3 {
    color: #EEEEEE;
    font-family: 'Montserrat', sans-serif;
}

p {
    color: #EEEEEE;  
}
.aditya {
    height: 20%;
    width: 20%;
}

.top-cloud {
    position: absolute;
    margin-left: 190px;
    
     
}
.bottom-cloud {
    position: relative;
    margin-right: 500px;
}

.top-container {
    background-color: #222831;
    position: relative;
    padding-top: 100px;
   
}

.skill-row1 {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    
}

.bow {   
    padding-right: 50px;
    float: left;
}

.skill-row2 {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    
}

.sports {
    float: right;
    padding-left: 50px;
    
}

.middle-container {  
    padding-top: 50px; 
    padding-bottom: 50px;
    background-color: #3cb2b8;
     
}

.bottom-container {
    background-color: #393E46 ;
}

.footer-link {
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bow {
    height: 20%;
    width: 20%;
}

.sports {
    height: 20%;
    width: 20%;   
}

.pdeu {
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.linkedIn {
    width: 30px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.instagram {
    width: 30px;
    height: 30px;
}

.email {
    width: 30px;
    height: 30px;
}

.twitter
{
    width: 30px;
    height: 30px;
    padding-right: 10px;
}

.line {
    background-color: #3cb2b8;
    border-style: dotted none none;
    border-width: 10px;
    border-color: #393E46;
    width: 5%;
    margin-top: 100px;
    margin-bottom: 90px;
}

